<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">  
    </head>
    <body>
        <a href="/myworkout">
            <button>Back</button>
        </a>
        <table class="table_style" cellspacing="0" cellpadding="1" border="1" width="300">
            <tr style="color:white;background-color:grey">
                <th>Exercise</th>
            </tr>
            {% for exercise in random_exercises %}
            <tr>
                <td>{{exercise.name}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>