.style {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.style td,
.style th {
  border: 1px solid #ddd;
  padding: 8px;
}

.style tr:nth-child(even) {
  background-color: #f2f2f2;
}

.style tr:hover {
  background-color: #ddd;
}

.style th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3374a8;
  color: white;
}